.local-news-articles{
    margin: 5px;
    padding: 10px;
    background: #fff;
}

.local-news-titles{ 
    font-size: 12px;
    font-family: sans-serif;
}
.local-news-titles span{
    margin: 10px;
}

.weather{
    margin: 10px;
    padding: 10px;
    background: #fff;
}
.hr-line{
    background: grey;
    width: 200px;
    border: 1px solid grey;
}